body {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.ant {
    padding: 7px;
}

.gat {
    margin-right: 4rem;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin-left: 2rem;
}

.gat-2 {
    margin-right: 4rem;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
}

.col {
    color: white;
    font-family: arial;
}

.bg {
    color: white;
    font-family: arial;
    font-size: 62px;
    text-align: center;
}