.dodo {
    padding: 7px;
}

body {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg {
    color: white;
    font-family: arial;
    font-size: 350%;
    text-align: center;
}

.bg-2 {
    color: white;
    font-family: arial;
    font-size: 141%;
    text-align: center;
}

.lon {
    margin-right: 1rem;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
}

.door {
    margin-left: 1rem;
}

.tact {
    margin-left: 12rem;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin-top: -8%;
    display: block;
}