@media only screen and (max-width: 1200px) {
 
}

@media only screen and (max-width: 900px) {
    .tact {
        text-align: end;
        margin-left: 0%;
        font-size: 20px;
        color: cyan;
}
body{
    max-height: 100%;
    max-width: 100%;
       background-color: black;
       background-size: cover;
   }
}

@media only screen and (max-width: 425px) {
   body{
    max-height: 100%;
    max-width: 100%;
       background-color: black;
       background-size: cover;
   }

   .tact {
       margin-left: 72%;
       display: block;
       margin-top: -6%;
   }

   .lon {
       margin-left: 1%;
       margin-right: 3rem;
   }
   .gg {
       font-size: 234%;
   }

   .gg-2 {
    font-size: 234%;
    margin-top: 0%;
}
}